.img-Grow-torgther {
    width: 100%;
    margin-top: 90px;
}

.page-about2 {
    position: absolute;
    margin-top: -380px;
    font-family: 'Klavika';
    font-weight: 300;
    font-size: 52px;
    width: 450px;
    line-height: 100%;
    color: #0B58A4;
    padding-left: 70px;
}

.title-Trending {
    padding-left: 70px;
}

.about-country {
    width: 100%;
    background: #0E1727;
    color: white;
}

.about-country1 {
    font-family: 'Klavika';
    font-weight: 100;
    font-size: 13px;
    line-height: 150%;
    margin-top: 50px;
    padding-left: 70px;
    width: 500px;

}

.title-business {
    padding-left: 70px;
    font-family: 'klavika';
    font-weight: 100;
    margin-top: 50px;
}

.img-11 {
    width: 180%;
}

.img-13 {
    width: 100%;
}

.img-country1 {
    width: 30px;
}

.picture-1 {
    width: 150px;
    padding-top: 150px;
    margin-left: 150px;

}

.img-bg-kuno {
    width: 100%;
    margin-top: 250px;
}

.detail-about {
    color: white;
    margin-top: 50px;
    font-size: 13px;
    font-family: 'Klavika';
    font-weight: 300;

}

.home-about {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin-top: 250px;
    color: white;
}

.img22 {
    width: 20px;
}

.item1 {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 55px;
    line-height: 104.52%;
    width: 400px;
    padding-top: 150px;
    text-align: end;
    text-transform: uppercase;
}

.item2 {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-left: 10px;
}

.item3 {
    padding-top: 150px;
    font-family: 'Klavika';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.item5 {
    padding-top: 150px;
    font-family: 'Klavika';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: end;
    padding-top: 150px;
    width: 400px;
    text-transform: uppercase;
}


.item7 {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 55px;
    line-height: 104.52%;
    width: 400px;
    text-align: left;
    width: 250px;
    padding-top: 150px;
    text-transform: uppercase;
}

.Kaicho-color {
    background: #0E1727;
}

.img-Kaicho-color {
    margin-top: 20px;
    margin-left: 40px;
    width: 60%;
}

@media(max-width: 992px) {
    .page-about2 {
        margin-top: -180px;
        font-size: 40px;
        width: 320px;
    }

    .about-country1 {
        width: 400px;
    }

    .item1 {
        margin-left: 40px;
        font-size: 20px;
        text-align: end;
        width: 200px;
    }


    .picture-1 {
        margin-left: 550px;
        margin-top: -400px;
        width: 150px;
    }

    .img22 {
        width: 15px;
        margin-left: 20px;
    }

    .item3 {

        width: 150px;
        font-size: 12px;

    }

    .item5 {
        width: 150px;
    }

    .item7 {
        margin-left: 220px;
        margin-top: -330px;
    }

    .home-about {
        padding-left: 40px;
    }

    .detail-about {
        padding-left: 40px;
        width: 450px;
    }
}


@media(max-width: 768px) {
    .img-Grow-torgther {
        margin-top: 90px;
    }

    .page-about2 {
        margin-top: -70px;
        font-size: 20px;
        width: 200px;
    }

    .about-country1 {
        width: 380px;
    }

    .item1 {
        font-size: 13px;
        width: 50px;
        margin-left: 20px;
    }

    .picture-1 {
        width: 100px;
        margin-left: 220px;
        margin-top: -590px;
    }

    .item3 {
        font-size: 8px;
        width: 90px;
        line-height: 10px;
        margin-left: 30px;
    }

    .img22 {
        width: 18px;
    }

    .item4 {
        margin-left: 40px;
    }

    .item5 {
        font-size: 10px;
        width: 90px;
    }

    .number-year {
        font-size: 18px;
        margin-left: 10px;
    }

    .item2 {
        font-size: 13px;
        margin-left: 30px;
    }

    .item7 {
        font-size: 13px;
        width: 90px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .img-bg-kuno {
        margin-top: -60px;
    }

    .home-about {
        margin-top: 50px;
        padding-left: 40px;
    }

    .detail-about {
        padding-left: 40px;
        width: 380px;
    }

}