.name1-sign {
    font-size: 50px;
    font-family: 'klavika';
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 30px;
}

.icon-formeye {
    font-size: 18px;
    padding-top: 20px;
    cursor: pointer;
}