.image-TCG {
    width: 100%;
}

.title-Trending {
    padding-left: 70px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'klavika';
    font-weight: 700;
}


.background-site {
    background: #F9F9F9;
}

.card-body {
    background: #EFF8FF;
    border-radius: 8px;
}

.img-height {
    width: 140px;
    margin-left: -12px;
}

.main-page-form {
    width: 12rem;
}

.alert-secondary {
    width: 13rem;
    height: 7rem;
    font-family: 'klavika';
    font-weight: 100;
    font-size: 11px;
    margin-top: -110px;
    margin-left: 170px;
    line-height: 8px;

}

.img-zgif {
    width: 100%
}

.img-iconday {
    margin-left: 0px;
}

.table-calendar {
    color: #265AA7;
    font-family: 'Klavika';
    font-weight: 500;
}


.title-import {
    font-family: 'klavika';
    font-size: 28px;
    width: 500px;
    text-transform: uppercase;
}

.title-zero {
    font-family: 'klavika';
    font-size: 14px;
    width: 500px;
    font-weight: 100;
}

.circle-icon {
    color: rgb(27, 96, 166);
    font-weight: 700;
    font-size: 12px;
}

.card-home1 {
    font-size: 15px;
    font-weight: 700;
    padding-top: 20px;
    font-family: 'klavika';
}

.card-home2 {
    font-size: 13px;
    line-height: 15px;
    font-weight: 100;
    font-family: 'klavika';
}


.title-bangladesh {
    font-family: 'klavika';
    font-size: 26px;
    line-height: 30px;
    color: #074471;
    font-weight: 3;
    padding-left: 60px;
}

.img-woman {
    width: 500px;
    margin-left: -120px;
    padding-top: 60px;
}

.img-button {
    width: 60px;
}

.title-topic {
    font-size: 24px;
    font-weight: 700;
    font-family: 'klavika';
}

.button-register {
    font-size: 14px;
    font-family: 'klavika';
}

.title-sign-in {
    padding-top: 10px;
    font-size: 13px;
    font-family: 'klavika';
    font-weight: 100;
}

.title-join {
    font-family: 'klavika';
    font-weight: 100;
}

.calendar-button {
    border-radius: 22px;
}

.no-underline1 {
    text-decoration: none;
    color: white;
}

.title-contact-footer1 {
    font-family: 'Klavika';
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #374550;
}

.title-business-footer1 {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;
    margin-top: 60px;
    color: #374550;
}

.img-transportation {
    width: 100%;
}

.calendar-button1 {
    margin-top: 30px;
    border-radius: 25px;
    font-size: 12px;
}

.badge-table {
    font-size: 30px;
    font-family: 'klavika';
}

.title-contry-footer1 {
    margin-top: 150px;
    font-weight: 500;
    font-family: 'klavika';
}

.square-facebook,
.square-twitter,
.aquare-instagram,
.square-linkedin,
.square-youtube {
    color: #265AA7;
    font-size: 35px;
}

.text-update {
    padding-left: 70px;
}

.text-project {
    padding-left: 70px;
}

.input-group-form {
    padding-left: 70px;
}

@media(max-width: 992px) {



    .title-import {
        width: 390px;
        font-size: 24px;
    }

    .title-zero {
        width: 400px;
    }

    .title-bangladesh {
        font-size: 20px;
        width: 400px;
    }


    .img-woman {
        width: 400px;
        padding-left: 40px;
        margin-left: 10px;

    }

    .img-button {
        width: 40px;
    }

    .alert-secondary {
        margin-left: 200px;
        margin-top: -70px;
        line-height: 5px;
        width: 12rem;
        height: 7rem;
        font-size: 10px;
    }


}

@media(max-width: 768px) {


    .title-import {
        padding-left: 40px;
        font-size: 22px;
        width: 490px;
    }

    .title-zero {
        width: 390px;
        padding-left: 40px;
    }

    .circle-icon {
        padding-left: 40px;
    }

    .title-bangladesh {
        font-size: 22px;
    }

    .img-woman {

        margin-left: -70px;
    }

    .title-bangladesh {
        font-size: 22px;
        width: 50px;

    }

    .alert-secondary {
        width: 10rem;
        height: 6rem;
        margin-left: 155px;
        line-height: 5px;

    }

    .title-join {
        padding-left: 40px;
    }

    .title-topic {
        padding-left: 40px;
    }

    .accordion {
        padding-left: 40px;
        padding-right: 10px;
    }

    .picture-index {
        margin-top: 20px;
        padding-left: 20px;
    }

    .calendar-button1 {
        font-size: 10px;
    }

    .card-home1 {
        font-size: 13px;
    }

    .card-home2 {
        font-size: 10px;
    }

    .title-contact-footer1 {
        font-size: 10px;
    }

    .footer-global {
        margin-top: -3px;
        padding-left: 100px;

    }

    .footer-BD {
        padding-left: 50px;
    }

    .title-contry-footer1 {
        margin-top: 80px;
    }

    .img-iconday {
        margin-left: 60px;
    }

    .table-calendar {
        font-size: 13px;
    }
}