.img-Resources {
    width: 100%;
    margin-top: 90px;
}

.page-resource {
    position: absolute;
    width: 253px;
    margin-top: -450px;
    padding-left: 141px;
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 52px;
    line-height: 99.2%;
    text-transform: uppercase;
    color: #494949;

}

.detail-resource {
    position: absolute;
    width: 650px;
    padding-left: 141px;
    margin-top: -320px;
    font-family: 'Klavika';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    color: #333333;
}

.title-resource {
    position: absolute;
    width: 532px;
    height: 52px;
    left: 130px;
    margin-top: -250px;

}

.button-forms-search {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 25px;
}

.form-resource1 {
    padding-left: 141px;
    position: absolute;
    margin-top: -60px;
    font-family: 'Klavika';
}

.img-icon {
    width: 50px;
}


.Templates-Search {
    margin-top: -35px;
    margin-left: 10px;
    padding-left: 50px;
    font-family: 'klavika';
    width: 400px;
}

.form-select-search {
    position: absolute;
    margin-top: -180px;
    padding-left: 141px;
    font-family: 'klavika';
}

.txt-search {
    font-size: 13px;

}

.fot-sm {
    width: 150px;
}

.of-13 {
    font-weight: 700;
    font-family: 'klavika';
}

@media(max-width: 768px) {
    .img-Resources {
        margin-top: 90px;
    }

    .page-resource {
        margin-top: -200px;
        padding-left: 40px;
        font-size: 22px;
        width: 200px;
    }

    .detail-resource {
        margin-top: -150px;
        padding-left: 40px;
        width: 220px;
        font-size: 7px;
        line-height: 10px;
    }

    .title-resource {
        margin-top: -70px;
        padding-left: 20px;
    }


    .Templates-Search {
        width: 140px;
        margin-left: -110px;
        font-size: 10px;
        margin-top: -70px;
    }

    .button-forms-search {
        margin-left: -115px;
        font-size: 15px;
    }

    .form-select-search {
        margin-top: -35px;
        padding-left: 40px;
    }

    .txt-search {
        font-size: 8px;
    }

    .dropdown-toggle-form {
        width: 150px;
    }

    .fot-sm {
        font-size: 10px;
    }
}