.img-Resources {
    width: 100%;
    margin-top: 90px;
}

.page-resource {
    position: absolute;
    width: 253px;
    margin-top: -450px;
    padding-left: 70px;
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 52px;
    line-height: 99.2%;
    text-transform: uppercase;
    color: #494949;

}

.detail-resource {
    position: absolute;
    width: 650px;
    padding-left: 70px;
    margin-top: -320px;
    font-family: 'Klavika';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    color: #333333;
}

.item-dropdown {
    padding-left: 70px;
}

.form-search-template {
    position: absolute;
    width: 450px;
    padding-left: 70px;
    margin-top: -250px;
}

.table-search {
    font-family: 'klavika';
    padding-left: 40px;
}

.button-forms-search {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 25px;
}

.form-resource1 {
    padding-left: 141px;
    position: absolute;
    margin-top: -60px;
    font-family: 'Klavika';
}

.img-icon {
    width: 50px;
}


.Templates-Search {
    margin-top: -35px;
    margin-left: 10px;
    padding-left: 50px;
    font-family: 'klavika';
    width: 400px;
}

.form-select-search {
    position: absolute;
    margin-top: -180px;
    padding-left: 70px;
    font-family: 'klavika';
}

.txt-search {
    font-size: 13px;

}

.fot-sm {
    width: 150px;
}

.of-13 {
    font-weight: 700;
    font-family: 'klavika';
}

.table1 {
    font-size: 16px;
    background: #032E61;
    border-radius: 5px;
    color: #ffff;
    font-family: 'klavika';
}

.table2 {
    font-size: 14px;
    font-family: 'klavika';
}


@media(max-width: 992px) {
    .page-resource {
        margin-top: -370px;
    }

    .detail-resource {
        margin-top: -250px;
        font-size: 15px;
        line-height: 20px;
        width: 450px;
    }

    .form-search-template {
        margin-top: -150px;
    }

    .txt-search {
        margin-top: 120px;
    }

}

@media(max-width: 768px) {
    .img-Resources {
        margin-top: 90px;
    }

    .page-resource {
        margin-top: -180px;
        padding-left: 40px;
        font-size: 22px;
        width: 200px;
    }

    .detail-resource {
        margin-top: -130px;
        padding-left: 40px;
        width: 220px;
        font-size: 7px;
        line-height: 10px;
    }

    .button-forms-search {
        margin-left: -115px;
        font-size: 15px;
    }

    .form-select-search {
        margin-top: -160px;
        padding-left: 40px;
        font-size: 8px;
    }

    .txt-search {
        font-size: 8px;
    }

    .dropdown-toggle-form {
        width: 150px;
    }

    .fot-sm {
        font-size: 8px;
    }

    .td-download {
        font-size: 8px;
        width: 70px;
    }

    .form-search-template {
        margin-top: -90px;
        width: 310px;
        margin-left: -100px;
    }

    .table-search {
        font-size: 10px;
        padding-left: 10px;
    }

    .table1 {
        font-size: 9px;
    }

    .table2 {
        font-size: 8px;
    }

    .search-resources {
        font-size: 14px;
    }



}