.image-asdsadasdasd1 {
    width: 100%;
    margin-top: 90px;
}

.image-together {
    width: 623px;
    padding-left: 40px;
    margin-top: -670px;

}

.form-services-page {
    padding-left: 70px;
}

.title-new1 {
    text-transform: uppercase;
    letter-spacing: -0.48px;
    font-family: 'klavika';
    line-height: 26px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 50px;
    padding-left: 70px;
}

.image-Asset {
    width: 100%;
    padding-left: 70px;
}

.image-Asset-2 {
    width: 100%;
    padding-left: 70px;
}

.title-jinji {
    padding-left: 70px;
}

.pade-jinji {
    padding-left: 70px;
}


.detail-asset {
    padding-top: 190px;
    padding-left: 40px;
    font-family: 'klavika';
    font-weight: 100;
    font-size: 14px;
    width: 600px;
    text-align: justify;
}


.detail-text-sevices {
    font-size: 18px;
    font-weight: 400;
    padding-top: 280px;
    font-family: 'klavika';
}

.button-name-Schedule {
    font-family: 'klavika';
}

.image-image6 {
    width: 100%;
}

.image-image7 {
    width: 100%;
}

.title-new2 {
    position: absolute;
    letter-spacing: -0.48px;
    font-family: 'klavika';
    color: white;
    margin-top: -650px;
    line-height: 26px;
    font-weight: 700;
    font-size: 24px;
    padding-left: 40px;
}

.image-account1 {
    width: 60px;
}

.title-account1 {
    text-align: justify;
    padding-left: 40px;
    font-family: 'Klavika';
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.picture-account {
    padding-left: 40px;
    font-family: 'klavika';
}

.all-picture-account {
    position: absolute;
    margin-top: -670px;
    color: white;
    padding-left: 40px;
}

.text-why {
    text-transform: uppercase;
    letter-spacing: -0.48px;
    font-family: 'klavika';
    line-height: 26px;
    padding-left: 70px;
    font-weight: 700;
    font-size: 24px;
}

.select-project {
    width: 450px;
}

.download-button {
    background-color: #265AA7;
    font-size: 15px;
    height: 50px;
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 70px;
    font-family: 'klavika';
}

.name-download3 {
    padding-left: 30px;
}

.cal-download {
    margin-left: 70px;
}

@media(max-width: 992px) {
    .image-together {
        margin-top: -380px;
        width: 420px;
        margin-left: -20px;
    }

    .detail-asset {
        padding-top: 70px;
        width: 450px;
        line-height: 20px;
    }


    .detail-text-sevices {
        padding-top: 150px;
    }

    .all-picture-account {
        margin-top: -390px;
    }

    .download-button {
        width: 290px;
        margin-top: 10px;
        height: 40px;
    }
}

@media(max-width: 768px) {
    .title-new1 {
        font-size: 20px;
        padding-left: 40px;
    }

    .image-together {
        margin-top: -250px;
        width: 250px;
        margin-left: -20px;
    }

    .detail-asset {
        padding-top: 40px;
        padding-left: 50px;
    }

    .detail-text-sevices {
        padding-left: 40px;
        padding-top: 50px;
    }

    .all-picture-account {
        margin-top: -200px;

    }

    .select-project {
        font-size: 5px;
        line-height: 6px;
        width: 190px;
    }

    .text-why {
        font-size: 15px;
        padding-left: 10px;
    }

    .page-1 {
        padding-left: 10px;
    }

    .image-account1 {
        width: 20px;
    }

    .select-project {
        padding-left: 10px;
        width: 190px;
    }

    .title-account1 {
        width: 190px;
        font-size: 7px;
        line-height: 8px;
    }

    .picture-account {
        font-size: 9px;
    }

    .download-button {
        height: 15px;
        width: 150px;
        margin-top: 10px;
        padding-top: 14px;
        margin-left: 10px;

    }

    .text-download1 {
        margin-top: -13px;
        font-size: 8px;
    }

    .name-download3 {
        padding-left: 20px;
        font-size: 10px;
    }

    .image-account {
        width: 15px;
    }

    .select-project-1 {
        font-size: 5px;
        line-height: 5px;
        width: 140px;
    }

    .image-Asset {
        padding-left: 40px;
    }

    .form-services-page {
        padding-left: 40px;
    }

    .image-Asset-2 {
        padding-left: 40px;
    }
}