.width1 {
    width: 100%;
    margin-top: 90px;
}

.serviecs-h1 {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 40px;
    line-height: 115.5%;
    letter-spacing: -1.5px;
    color: #FFFFFF;
    margin-top: -355px;
    padding-left: 70px;
}

.serviecs-h2 {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 70px;
    line-height: 144px;
    padding-left: 70px;
    margin-top: -10px;
    color: #FFFFFF;
}