.seccondary-background {
    margin-top: 90px;
    background-color: #EBF1F5;
}

.img-webinar {
    width: 600px;
    margin-top: 90px;
    padding-left: 80px;
}

.page-webinar {
    font-size: 24px;
    font-family: 'klavika';
    width: 450px;
    padding-top: 80px;
}

.page-webinar-home1 {
    font-size: 15px;
    font-weight: 100;
    width: 450px;
    font-family: 'klavika';
}

.img-calendar {
    width: 40px;
}

.img-QA,
.img-time {
    width: 40px;
    margin-left: 90px;
}

.image8 {
    width: 280px;
    margin-left: 205px;
    margin-top: -30px;
}

.form-search1 {
    font-family: 'klavika';
}

.img-video {
    width: 200px;
    padding-left: 40px;
}

.img-star {
    width: 20px;
}

.text-art {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
}

.font-mins {
    font-family: 'klavika';
    font-weight: 100;
}

.form-webinar {
    padding-left: 600px;
}

.title-always {
    font-family: 'klavika';
    font-size: 14px;
    font-weight: 100;
}

.img-minnie,
.img-Merryny,
.img-veona,
.img-paseka,
.img-cherice {
    width: 50px;
    border-radius: 10px;
}

.img-ceo {
    margin-top: 50px;
    width: 100%;
}

.img-google {
    width: 60px;
}

.account-signin {
    font-family: 'klavika';
    color: #5D5A6F;
    margin-top: 20px;
}

.sign-in {

    font-weight: 500;
    color: #265AA7;
}

.form-contact-webinar {
    font-family: 'klavika';
    color: black;
}

.form-contact-name {
    color: black;
}

.google {
    padding-left: 0px;
}

.LinkeIn {
    padding-left: 0px;
}

@media(max-width: 768px) {
    .img-webinar {
        margin-left: -40px;
        width: 500px;
    }

    .image8 {
        margin-left: 100px;
    }

    .page-webinar {
        padding-left: 40px;
    }

    .page-webinar-home1 {
        padding-left: 40px;
    }

    .title-Trending {
        padding-left: 40px;
    }

    .title-always {
        margin-top: 30px;
    }

    .text-art {
        padding-left: 50px;
    }

    .picture-star {
        padding-left: 50px;
    }

    .font-mins {
        padding-left: 50px;
    }

}