.ctmembertwo {
    font-family: "Audiowide", sans-serif;
}

.create-back {
    justify-content: space-between;
}

.formtwo {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
}

.backsushi {
    justify-content: space-between;
    padding-left: 20%;
}