@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.member {
    font-family: "Audiowide", sans-serif;
}

thead th,
tfoot th {
    font-family: 'Libre Baskerville', serif;
    font-size: medium;
}



td {
    letter-spacing: 1px;
}