.site-login {
    margin-top: 0px;
}

.login-backgroungd {
    background: -webkit-linear-gradient(to right, #f8c1c3, #e6d0a0);
    background: linear-gradient(to right, #a9e4e6, #ece0c1);
    border-radius: 25px;
}

.name-login {
    font-weight: 700;
    font-size: 70px;
    color: rgb(0, 96, 123);

}

.login {
    width: 20px;

}

.width-com {
    width: 100%;
    background-size: cover;
}

.login-mail {
    color: rgb(174, 234, 242);
    font-weight: 500;
    font-size: 14px;
    padding-left: 40px;
}

.log-assome {
    color: rgb(0, 96, 123);

}

.submit-login {
    font-size: 15px;
    font-family: 'klavika';
    width: 100px;
    margin-top: 30px;

}

.login-moon {
    color: #ec1616;
    font-size: 25px;
}

.ic-username {
    width: 150px;
}

.form-outline1 {
    margin-left: 20px;

}

.cascading-right {
    margin-right: -50px;
    margin-top: -10px;

}


.width-col {
    width: 100%;
    height: 690px;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    padding: 12px;
    margin-left: 20px;
    width: 550px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px;
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #D500F9, #FFD54F);
}



@media(max-width: 768px) {
    .cascading-right {
        margin-right: 10px;
    }
}