@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.nav-menu {
    position: fixed;
    list-style-type: none;
    padding-bottom: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    width: 220px;
    overflow: auto;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.icon-menu {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
}

.icon-menu span {
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    padding: 10px;
}

a:link {
    text-decoration: none;
}

.menu-title {
    font-size: 25px;
}

.fas {
    position: relative;
    height: 40px;
    top: 14px;
    font-size: 15px;
    text-align: center;
    color: #eee;
}

.nav-items {
    font-size: 12px;
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: #eee;
}

.font-menu {
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
    margin-top: 50%;
    margin-left: 13px;
    color: #eee;
}

.font-emo {
    margin-right: 50px;
    color: #eee;
}

.scrollbar {
    overflow: hidden;
}

.pd-menu {
    padding-top: 10px;
    padding-right: 35px;
}

.bg-list {
    padding-bottom: 7px;
    background-color: grey;
    border-radius: 20px;
}

/* ปรับลักษณะของ scrollbar */
::-webkit-scrollbar {
    width: 8px;
    /* กำหนดความกว้างของ scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* กำหนดสีของส่วนตัวของ scrollbar */
    border-radius: 4px;
    /* กำหนดรูปร่างของส่วนตัวของ scrollbar */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* กำหนดสีของส่วนตัวของ scrollbar เมื่อเมาส์ชี้ไป */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* กำหนดสีของส่วนที่หมุนทวน */
}