.update {
    display: inline-block;
}

.editmember {
    font-family: "Audiowide", sans-serif;
}

.topic {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
}

.topicright {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
}