@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');


.mymember {
    font-family: "Audiowide", sans-serif;
}

.memberinfor {
    font-family: 'Oswald', sans-serif;
    font-size: larger;
}