@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');


.mymember {
    font-family: "Audiowide", sans-serif;
}

.memberinfor {
    font-size: larger;
}

.cardview {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: #F2F2F2;
    border: 1px solid #432f2f;
    border-radius: 40px;
}