.image-Google-Forms-Job {
    width: 100%;
    margin-top: 90px;
}

.fa-chevron-left {
    text-decoration: none;
    padding-left: 40px;
}

.image-poit {
    width: 1250px;
}


.name-text-applying {
    font-size: 38px;
    padding-left: 70px;
    margin-top: 30px;
    font-family: 'klavika';
    font-weight: 200;

}

.txt-cousultant {
    font-size: 38px;
    font-family: 'klavika';
    font-weight: 500;

}

.form-range2 {
    margin-top: 50px;
    padding-left: 70px;
}

.no-name-1 {
    font-size: 30px;
    font-weight: 700;
}

.name-box-one {
    padding-left: 70px;
}

.font-name-one {
    font-weight: 500;
    font-size: 12px;
    margin-top: 30px;
}

.moon {
    color: red;
    font-size: 18px;
}

.form-input-detail {
    padding-left: 70px;
    margin-top: 30px;
    font-size: 16px;
}

.form-label-type {
    font-family: 'klavika';
    font-size: 13px;
    font-weight: 100;
}

.select-name-dis {
    margin-top: 30px;
    padding-left: 70px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'klavika';
}

.select-name-privacy {
    font-family: 'klavika';
    font-size: 14px;
    font-weight: 200;
    padding-left: 70px;
    width: 700px;
}

.title-read {
    color: #007CDB;
    font-weight: 500;
}

.image-upload {
    width: 250px;
}

.text-upload {
    padding-left: 20px;
    font-size: 26px;
    font-family: 'klavika';
    font-weight: 700;
}

.text-drop {
    font-size: 14px;
    color: black;
    font-family: 'klavika';
    font-weight: 600;
    margin-left: -200px;
}

.tex-Or {
    font-size: 18px;
    font-weight: 100;
    font-family: 'klavika';
    margin-top: -130px;
    padding-left: 120px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-button {
    color: white;
    background-color: rgb(29, 147, 226);
    font-size: 18px;
    font-weight: bold;
    margin-left: 80px;

}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.title-file {
    font-size: 12px;
    font-weight: 100;
    color: gray;
    padding-left: 60px;
    font-family: 'klavika';
    padding-top: 5px;
}

.form-check-label-home {
    padding-left: 200px;
}

.form-image-upload {
    margin-top: -80px;
    padding-left: 50px;
}

.line-back {
    padding-left: 30px;
    margin-top: 60px;
}

.name-box-one {
    margin-top: 30px;
    font-size: 16px;
}

.form-font-small {
    font-family: 'klavika';
    font-weight: 100;
    font-size: 19px;

}

.fr-1 {
    margin-left: -50px;
}

.fr-2 {
    margin-left: -40px;
}

.fr-3 {
    margin-left: 20px;
}

.fr-4 {
    margin-left: 70px;
    text-align: end;
}


@media(max-width: 992px) {
    .form-image-upload {
        margin-left: 400px;
        padding-left: 90px;
        margin-top: -300px;
    }

}

@media(max-width: 768px) {
    .image-Google-Forms-Job {
        margin-top: 90px;
    }

    .name-text-applying {
        font-size: 25px;
        padding-left: 40px;
    }

    .txt-cousultant {
        font-size: 25px;
    }

    .form-image-upload {
        margin-top: 30px;
        margin-left: -40px;
    }

    .select-name-privacy {
        width: 400px;
        padding-left: 40px;
    }

    .form-font-small {
        font-size: 8px;
    }

    .fr-1 {
        margin-left: -20px;
    }

    .fr-2 {
        margin-left: -20px;
    }

    .fr-3 {
        margin-left: 2px;
    }

    .fr-4 {
        margin-left: 30px;
    }

    .line-back {
        padding-left: 0px;
    }

    .form-range2 {
        padding-left: 40px;
    }

    .name-box-one {
        padding-left: 40px;
    }

    .form-input-detail {
        padding-left: 40px;
    }

    .select-name-dis {
        padding-left: 40px;
    }
}