.text-primary {
    position: absolute;
    height: 191px;
    left: 11.1%;
    right: 56.48%;
    top: 400px;
    font-family: 'Klavika';
    font-weight: 40px;
    font-size: 60px;
    line-height: 10px;
    letter-spacing: -1px;
    text-transform: uppercase;

}

.text {
    position: absolute;
    width: 200px;
    height: 191px;
    left: 9%;
    top: 720px;
    color: white;
}

.text-left {
    position: absolute;
    height: 191px;
    left: 9%;
    top: 760px;
    color: white;
}

.col-4 {
    position: absolute;
    height: 230px;
    left: 8%;
    top: 800px;
    color: white;
    font-size: 16px;
}


.col-md-2 {
    position: absolute;
    height: 1000px;
    left: 22%;
    right: 40%;
    top: 800px;
    color: white;
}

.img4 {
    position: absolute;
    width: 700px;
    height: 816px;
    left: 1220px;
    top: 1884px;
}

.img3 {
    position: absolute;
    left: 35%;
    top: 840px;
}


.col-md-5 {
    position: absolute;
    width: 670px;
    left: 11.5%;
    top: 1800px;
    color: white;
    font-family: 'Klavika';
}

.col-md-7 {
    position: absolute;
    width: 650px;
    left: 11.5%;
    top: 2650px;
    color: white;
    font-family: 'Klavika';
}

.col-md-6 {
    position: absolute;
    width: 650px;
    left: 11.5%;
    top: 3180px;
    color: white;
    font-family: 'Klavika';
}

.col-5 {
    position: absolute;
    width: 600px;
    left: 65%;
}

.card {
    position: absolute;
    width: 455px;
    height: 50px;
    left: 14%;
    top: 4667px;
    border: white;
    font-family: 'Klavika';
}

.btn-group {
    position: absolute;
    width: 45px;
    height: 35px;
    left: 10%;
    top: 5271px;
    color: white;
    font-family: 'Klavika';
}

.text-white {
    position: absolute;
    width: 900px;
    height: 35px;
    left: 25%;
    top: 5269px;
    color: white;
    font-family: 'Klavika';
}

.text-right {
    position: absolute;
    width: 600px;
    left: 58%;
    top: 4510px;
}