.text-star {
    position: absolute;
    margin-top: -25%;
    font-family: 'Klavika';
    font-size: 50px;
    font-weight: 200;
    line-height: 60px;
    color: #2D8DD5;
    z-index: 99;
}

.button-start1 {
    margin-left: 10px;
}

.text-title {
    position: absolute;
    margin-top: -27.5%;
    margin-left: 150px;
    font-family: 'Klavika';
    font-size: 50px;
    font-weight: 200;
    line-height: 60px;
    color: #2D8DD5;
}

.text-detail {
    position: absolute;
    font-family: 'Klavika';
    font-size: 20px;
    font-weight: 50;
    line-height: 30px;
    color: #eee;
}

.image-TCG {
    padding-top: 80px;
}

.image-what-we-give {
    width: 480px;
    height: 160px;
}


.Global-Business {
    font-size: 28px;
    color: white;
    padding-left: 70px;
    font-weight: 700;
    font-family: 'klavika';
    line-height: 55px;
}

.txt-would {
    font-size: 12px;
    font-weight: 100;
}

.contact-social {
    font-size: 20px;
    color: rgb(147, 145, 145);
    font-weight: bold;
}



.button-contact {
    font-family: 'klavika';
}

.info-tokyo {
    font-size: 13px;
}

.Get-free {
    font-size: 30px;
    padding-left: 70px;
    font-weight: 700;
    font-family: 'klavika';
    color: #313131;
}

.If-you {
    font-size: 18px;
    padding-left: 70px;
    font-weight: 300;
    line-height: 29px;
    font-family: 'klavika';
    color: #5E5E5E;
}

.If-you2 {
    font-size: 18px;
    font-weight: 300;
    padding-left: 40px;
    color: #5E5E5E;
}

.txt-prefer {
    margin-top: 80px;
    font-weight: 300;
    font-size: 19px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #5E5E5E;
}

.connect-experts {
    padding-left: 70px;
    font-weight: 700;
    font-size: 35px;
    line-height: 55px;
    font-family: 'klavika';
    color: #0F2137;
}

.text-TCG {
    color: white;
    padding-top: 20px;
    padding-left: 70px;
    font-family: 'klavika';
}

.col-background {
    background-color: #031022;
}

.form-Questions {
    padding-left: 40px;
    font-family: 'klavika';
}

.left-box-select {
    font-weight: 700;
    font-size: 17px;
    padding-left: 50px;
}

.text-japan {
    position: absolute;
    margin-top: -50%;
    font-size: 60px;
    font-weight: 200px;
    line-height: 35px;
    padding-left: 70px;
    font-family: 'Klavika';
    color: white;
}

.image-Yokhohamaa {
    width: 100%;
}

.image-graph {
    width: 80%;
    padding-top: 240px;
}


.text-Unlock {
    position: absolute;
    width: 500px;
    padding-left: 70px;
    margin-top: -40%;
    font-size: 14px;
    font-weight: 100px;
    color: white;

}



.text-establish {
    padding-left: 70px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'klavika';
    line-height: 55px;
}

.Company {
    margin-top: 40px;
    padding-left: 70px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-family: 'Klavika';
    cursor: pointer;
    color: hwb(196 12% 54%);

}

.img-background {
    width: 100px;

}

.button-get {
    /* font-size: 15px; */
    right: 0;
}

.text-email {
    font-size: 15px;
    margin-left: 60%;
    margin-top: -25%;
    text-align: end;
    color: #A0A0A0;
}

.Our {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: hwb(196 12% 54%);

}

.text-legal {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'klavika';
    color: hwb(196 12% 54%);
}

.text-tokyo {
    position: absolute;
    margin-top: -20%;
    color: white;
    font-size: 13px;
    padding-left: 70px;
}

.text-Yasunari {
    position: absolute;
    margin-top: -30%;
    padding-left: 70px;
    width: 550px;
    font-size: 13px;
    color: white;
}

.text1 {
    margin-top: -20%;
    font-family: 'Klavika';
    font-size: 12px;
    color: white;
}

.text {
    position: absolute;
    margin-top: -25%;
}

.text2 {
    position: absolute;
    margin-top: -45%;
    color: white;
    font-size: 30px;
    font-family: 'Klavika';
    font-weight: 700;
    padding-left: 70px;
}

.text3 {
    position: absolute;
    margin-top: -37%;
    font-size: 45px;
    color: white;
    padding-left: 70px;
    font-family: 'Klavika';
}

.text4 {
    position: absolute;
    margin-top: -35%;
    font-size: 30px;
    font-weight: 700;
    padding-left: 70px;
    color: white;
    font-family: 'Klavika';
}

.button-text5 {
    margin-top: 40px;
    font-family: 'klavika';
}

.button-7 {
    position: absolute;
    font-weight: 200px;
    line-height: 32px
}

.text8 {
    margin-top: 10%;
    font-family: 'Klavika';
    font-size: 14px;
    line-height: 26px;
    color: #A0A0A0;
}

.your-company {
    padding-left: 40px;
}

.contact {
    position: absolute;
    margin-top: 1.1%;
    left: 8%;
}

.image-book {
    margin-top: -35%;
    width: 100%;
}

.img-country {
    width: 18px;
    height: 18px;
    border-radius: 5px;
}

.country-index {
    margin-top: 30px;
    padding-left: 80px;
    color: white;
    line-height: 15px;
    font-size: 14px;
    font-family: 'klavika';
}

.label-thin {
    font-weight: 300;
    font-size: 18px;

}

.font-color-blue {
    color: #06ACF6;
    font-family: 'klavika';
}


.image-gol1 {
    margin-top: -10px;
    width: 100%;
}

.blue {
    background-color: #0B4A8E;
    color: white;
    padding-left: 10px;
}

.text-update {
    font-family: 'klavika';
    font-size: 34px;
    line-height: 25px;
    padding-top: 20px;
    padding-left: 80px;
}

.text-project {
    font-family: 'klavika';
    font-size: 12px;
    padding-left: 80px;
}

.logo-footer {
    width: 200px;
}

.box-logo-footer {
    padding-left: 80px;
    padding-top: 100px;
}

.txt-internal {
    color: #08427B;
    font-weight: 700;
    font-size: 18px;
    font-family: 'klavika';
}

.country-footer {
    color: #0B58A4;
    font-family: 'klavika';
    font-size: 14px;
    font-weight: 100;
}

.no-underline {
    text-decoration: none;
    color: #0B4A8E;
}

.txt-stay {
    font-size: 13px;
    font-weight: 500;
    margin-top: 10%;
    font-family: 'klavika';
    font-weight: 300;
}

.button-notify-me {
    padding-left: 30px;
}

.footer-custom {
    background-color: #032E61;
    margin-top: 40px;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 30px;
}

.input-group-form {
    padding-left: 80px;
    font-size: 10px;
    font-family: 'klavika';
}

.dropdown-toggle {
    margin-top: 10%;
    font-size: 13px;
    font-weight: 200;
    line-height: 20px;
}

.input-your-email {
    font-size: 13px;
    font-family: 'klavika';
}

.div-row {
    display: flex;
}

.show-text-home {
    padding-top: 50px;
    border-left: lightgray solid thin;
    margin-top: 20px;
}


.footer-box {
    line-height: 20px;
    padding-left: 80px;
}

.footer-bottom {
    padding-top: 180px;
}

.text-footer {
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.form-input {
    font-family: 'klavika';
    /* padding-left: 40px; */
}


.square-facebook,
.square-twitter,
.aquare-instagram,
.square-linkedin,
.square-youtube {
    color: #265AA7;
    font-size: 35px;
}

.text-update {
    padding-left: 70px;
}

.text-project {
    padding-left: 70px;
}

.input-group-form {
    padding-left: 70px;
}

.page-title {
    line-height: 15px;
    font-weight: 100;
    color: white;
    width: 450px;
}



@media(max-width: 992px) {
    .text-star {
        margin-top: -260px;
        font-size: 42px;
        line-height: 45px;

    }

    .text-Unlock {
        margin-top: -260px;
        line-height: 15px;
        font-size: 13px;
        width: 450px;
    }

    .text2 {
        font-size: 29px;

    }

    .text3 {
        margin-top: -320px;
        line-height: 25px;
    }

    .image-graph {
        margin-top: -230px;
    }

    .image-what-we-give {
        margin-top: -10px;
        width: 310px;
        height: 100px;

    }

    .text-tokyo {
        margin-top: -24%;
        line-height: 15px;
        padding-left: 70px;
        font-size: 12px;
        width: 450px;

    }

    .image-book {
        margin-top: -27%;
        width: 30%;
        margin-left: 70%;
    }

    .button-get {
        font-size: 12px;
    }

}

@media(max-width: 768px) {

    .text-star {
        font-size: 16px;
        margin-top: -120px;
        line-height: 20px;

    }

    .text-TCG {
        padding-left: 40px;
    }

    .button-start {
        margin-top: 4px;
        font-size: 10px;
    }

    .Global-Business {
        font-size: 25px;
        padding-left: 40px;
    }

    .Company {
        padding-left: 40px;
    }

    .Our {
        padding-left: 40px;
    }

    .div-row {
        display: inline-block;
    }

    .footer-box {
        padding-left: 30px;
        padding-top: 80px;
    }


    .text-legal {
        margin-top: -48%;
        font-size: 8px;
        padding-left: 40px;
        line-height: 10px;
        width: 400px;
    }

    .text-tokyo {
        margin-top: -100px;
        font-size: 5px;
        line-height: 6px;
        padding-left: 40px;
        width: 200px;

    }

    .label-thin {
        font-size: 13px;
    }

    .text-Yasunari {
        font-size: 5px;
        line-height: 6px;
        width: 200px;
        padding-top: 10px;
        padding-left: 40px;
    }

    .button-contact {
        margin-top: -10px;
        font-size: 8px;
        font-family: 'klavika';
        border-radius: 4px;
        width: 80px;
        height: 25px;
    }


    .text1 {
        font-size: 15px;
        line-height: 60px;
        color: white;
    }

    .text2 {
        margin-top: -45%;
        font-size: 12px;
        padding-left: 40px;
    }

    .text3 {
        font-size: 14px;
        line-height: 5px;
        padding-left: 40px;
        margin-top: -150px;
        line-height: 7px;
    }

    .image {
        width: 8px;
    }

    .text4 {
        font-size: 12px;
        font-weight: 500;
        padding-left: 40px;
        color: white;
        font-family: 'Klavika';
    }

    .image-graph {
        margin-top: -210px;
        width: 100px;
    }

    .contact {
        width: 20px;
        height: 30px;
        left: 7%;
        margin-top: -1%;
    }

    .text-japan {
        margin-top: -200px;
        padding-left: 40px;
        font-size: 22px;
        line-height: 5px;
    }

    .text-Unlock {
        width: 220px;
        padding-left: 40px;
        margin-top: -33%;
        font-size: 6px;
        line-height: 6px;
    }

    .text-establish {
        font-size: 24px;
        padding-left: 40px;
    }

    .button-get {
        font-size: 12px;
    }

    .country-index {
        margin-top: 30px;
        padding-left: 50px;

    }

    .text-legal {
        font-size: 25px;
        padding-left: 40px;
        margin-top: 25px;
    }

    .button-text5 {
        margin-top: 20px;
    }

    .image-book {
        width: 29%;
        margin-top: -330px;
        margin-left: 70%;
    }

    .text-white {
        color: white;
    }

    .footer-links {
        font-size: 10px;
        color: #06ACF6;
    }

    .btn-group {
        padding-top: 15px;
    }

    .txt-internal {
        padding-left: 30px;
    }

    .country-footer {
        padding-left: 20px;
    }

    .image-tokyo {
        width: 20%;
    }

    .Get-free {
        font-size: 15px;
        padding-left: 40px;
    }

    .connect-experts {
        font-size: 20px;
        padding-left: 40px;
    }

    .If-you {
        font-size: 14px;
        padding-left: 40px;
    }


    .form-check-inline {
        padding-left: 60px;
    }

    .img-background {
        width: 102.5%;
        height: 400px;
    }

    .col-background {
        margin-top: 0px;

    }

    .show-text-home {
        padding-top: 0px;
        padding-bottom: 20px;
        margin-top: 0px;
        border-top: lightgray solid thin;
        border-left: none;
        margin-bottom: 10px;
    }

    .footer-custom {
        padding-left: 30px;

    }

    .text-footer {
        font-size: 10px;
        padding-left: 50px;
    }

    .footer-links {
        font-size: 10px;
        padding-left: 50px;
    }

    .image-TCG {
        padding-top: 90px;
    }

    .image-what-we-give {
        margin-top: 10px;
        width: 120px;
        height: 45px;
    }

    .text-update {
        font-size: 23px;
        line-height: 10px;
        margin-left: -15px;
    }

    .text-project {
        font-size: 10px;
        margin-left: -15px;
    }

    .input-group-form {
        margin-left: -15px;
    }

    .footer-bottom {
        padding-top: 104px;
    }

    .input-your-email {
        font-size: 11px;
    }

    .If-you2 {
        font-size: 14px;
        padding-left: 15px;
    }

    .left-box-select {
        font-size: 13.5px;
        padding-left: 30px;
    }

    .your-company {
        padding-left: 20px;
    }

    .form-Questions {
        padding-left: 60px;
    }

    .box-logo-footer {
        padding-left: 40px;
    }

    .logo-footer {
        margin-left: 50px;
    }

    .button-start1 {
        margin-left: 1px;
        font-size: 12px;
    }

}