.image-working {
    margin-top: 40px;
    width: 100%;
}

.title-At {
    font-family: 'Klavika';
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    padding-left: 70px;
    width: 450px;
    margin-top: -400px;
    color: #000000;
    position: absolute;
}

.blackground-black {
    margin-top: 60px;
    background: #0A0A0A;
    color: white;
    padding-left: 40px;
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.48px;
    text-transform: uppercase;

}

.image-no {
    width: 100%;
}

.text-name-kuno {
    font-size: 14px;
    text-align: end;
}

.form-data-block {
    padding-left: 70px;
    font-family: 'klavika';
    font-weight: 100;
    margin-top: -80px;
    font-size: 18px;
}

.stye-people {
    margin-top: 100px;
}

.OUR-PEOPLE {
    padding-left: 70px;
    margin-top: 80px;
}


.image-icon-name {
    padding-top: 180px;
    width: 80%;
}

.title-empowering {
    padding-top: 80px;
    font-family: 'klavika';
    padding-left: 60px;
    font-size: 40px;
    font-weight: 100;
    line-height: 25px;
    text-transform: none;

}

.title-employees {
    font-size: 24px;
    font-weight: 700;
    font-family: 'klavika';
    padding-left: 70px;
}

.Global-TCF {
    padding-left: 40px;
}

.tcf-type {
    font-size: 17px;
    padding-left: 40px;
    font-family: 'klavika';
    color: #5E5E5E;
    margin-top: 40px;
}

.title-culture {
    margin-top: 30px;
    padding-left: 70px;
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.48px;
    color: #0F2137;

}

.bang1 {
    font-size: 18px;
    position: absolute;
    margin-top: 240px;
    padding-left: 20px;
    color: white;
    font-weight: 700;
    font-family: 'klavika';
    text-transform: uppercase;

}

.bang1-solid {
    border: solid 3px;
    position: absolute;
    margin-top: 270px;
    margin-left: 20px;
    color: white;
    font-family: 'klavika';
    width: 100px;

}

.title-bang {
    color: white;
    font-size: 28px;
    position: absolute;
    font-weight: 700;
    font-family: 'klavika';
    text-transform: uppercase;
    margin-top: 280px;
    padding-left: 20px;
}

.title-bang2 {
    color: white;
    font-size: 28px;
    position: absolute;
    font-weight: 700;
    font-family: 'klavika';
    text-transform: uppercase;
    margin-top: 310px;
    padding-left: 20px;
}

.c-image {
    width: 100%;
    height: auto;
    cursor: pointer;

}

@media(max-width: 992px) {
    .title-empowering {
        font-size: 25px;
        padding-left: 40px;
    }

    .bang1 {
        font-size: 12px;
        position: absolute;
        margin-top: 190px;
        padding-left: 20px;
        color: white;
        font-weight: 700;
        font-family: 'klavika';
        text-transform: uppercase;

    }

    .bang1-solid {
        border: solid 1px;
        position: absolute;
        margin-top: 210px;
        margin-left: 20px;
        color: white;
        font-family: 'klavika';
        width: 80px;

    }

    .title-bang {
        color: white;
        font-size: 17px;
        position: absolute;
        font-weight: 700;
        font-family: 'klavika';
        text-transform: uppercase;
        margin-top: 210px;
        padding-left: 20px;
    }

    .title-bang2 {
        color: white;
        font-size: 17px;
        position: absolute;
        font-weight: 700;
        font-family: 'klavika';
        text-transform: uppercase;
        margin-top: 225px;
        padding-left: 20px;
    }


}

@media(max-width: 768px) {
    .image-working {
        margin-top: 90px;
    }

    .title-At {
        margin-top: -190px;
        line-height: 20px;
        padding-left: 10px;
        font-size: 16px;
        width: 220px;
    }

    .form-data-block {
        line-height: 25px;
        margin-top: 20px;
        font-size: 14px;
    }

    .OUR-PEOPLE {
        padding-left: 10px;
    }

    .image-icon-name {
        width: 300px;
        padding-top: 60px;
        text-align: center;
        margin-left: 60px;
    }

    .title-empowering {
        font-size: 28px;
        line-height: 20px;
        padding-top: 50px;
        padding-left: 70px;
    }

    .tcf-type {
        font-size: 16px;
    }

    .title-culture,
    .title-employees {
        font-size: 22px;
        padding-left: 40px;
    }

    .card-title1 {
        width: 8rem;
        margin-top: 67px;
        margin-left: -50px;

    }

    .card-title2 {
        width: 8rem;
        margin-left: 35px;
        margin-top: 61px;
    }

    .card-title-home {
        font-size: 15px;
        line-height: 15px;
    }

    .title1 {
        font-size: 10px;
        line-height: 5px;
        margin-top: -2px;
    }

    .title2 {
        font-size: 8px;
        line-height: 8px;
        margin-top: -7px;
    }

    .title3 {
        font-size: 5px;
        line-height: 5px;
        margin-top: -8px;
    }


    .card-title-page {
        font-size: 15px;
        line-height: 15px;
    }

    .title4 {
        font-size: 10px;
        line-height: 5px;
        margin-top: -2px;
    }

    .title5 {
        font-size: 8px;
        line-height: 8px;
        margin-top: -7px;
    }

    .title6 {
        font-size: 5px;
        line-height: 5px;
        margin-top: -8px;
    }

    .text-name-kuno {
        padding-top: 20px;
        font-size: 12px;
    }

    .stye-people {
        margin-top: 50px;
    }

    .bang1 {
        font-size: 12px;
        position: absolute;
        margin-top: 190px;
        padding-left: 20px;
        color: white;
        font-weight: 700;
        font-family: 'klavika';
        text-transform: uppercase;

    }

    .bang1-solid {
        border: solid 1px;
        position: absolute;
        margin-top: 210px;
        margin-left: 20px;
        color: white;
        font-family: 'klavika';
        width: 80px;

    }

    .title-bang {
        color: white;
        font-size: 15px;
        position: absolute;
        font-weight: 700;
        font-family: 'klavika';
        text-transform: uppercase;
        margin-top: 210px;
        padding-left: 20px;
    }

    .title-bang2 {
        color: white;
        font-size: 15px;
        position: absolute;
        font-weight: 700;
        font-family: 'klavika';
        text-transform: uppercase;
        margin-top: 225px;
        padding-left: 20px;
    }
}