.image-working {
    width: 100%;
}

.blackground-black {
    margin-top: 60px;
    background: #0A0A0A;
    color: white;
    padding-left: 40px;
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.48px;
    text-transform: uppercase;

}

.image-no {
    width: 100%;
}

.text-name-kuno {
    font-size: 14px;
    text-align: end;
}


.image-icon-name {
    padding-top: 100px;
    width: 80%;
}

.title-empowering {
    padding-top: 80px;
    font-family: 'klavika';
    font-size: 30px;
    font-weight: 100;
    line-height: 60px;

}

.title-enployees {
    font-size: 24px;
    font-weight: 700;
    font-family: 'klavika';
    padding-left: 40px;
}

.tcf-type {
    font-size: 20px;
    padding-left: 40px;
    font-family: 'klavika';
    color: #5E5E5E;
    margin-top: 40px;
}

.image-ceo {
    margin-top: 30px;
    width: 100%;
}

.title-culture {
    margin-top: 30px;
    padding-left: 40px;
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.48px;
    color: #0F2137;

}