.background-home {
    background-color: #EBEBEB;
}

.image-Linkedin-Cover {
    width: 100%;
    margin-top: 80px;
}


.image-account {
    width: 70px;
}


.the-one {
    margin-top: -60%;
    color: white;
    font-family: 'klavika';
}

.text-two {
    font-size: 12px;
    font-weight: 100;
}

.text-data-icon {
    margin-top: -255px;
    font-family: 'klavika';
    color: white;
    font-weight: 300;
    font-size: 15px;
}

.home-form {
    font-size: 24px;
    font-family: 'klavika';
    font-weight: 700;
    color: #0F2137;
    line-height: 24px;
    padding-left: 70px
}

.home-form-one {
    padding-top: 80px;
    text-align: right;
    font-size: 15px;
    font-weight: 500;
    font-family: 'klavika';
}

.home-two {
    font-family: 'klavika';
    font-size: 26px;
    font-weight: 700;
    line-height: 20px;
}

.form-two {
    font-size: 20px;
    font-family: 'klavika';
    font-weight: 600;
    line-height: 100px;
}

.form-tree {
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    font-family: 'klavika';
}

.img-tree {
    width: 100%;

}

.form-select-one {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    padding-left: 70px;
    font-family: 'klavika';

}

.backgroup-submit {
    background: #F0F3F8;
    padding-left: 70px;
}

.form-select-business {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    font-family: 'klavika';
}

.form-select-two {
    font-size: 15px;
    font-family: 'klavika';
    font-weight: 300;
    margin-top: 70px;
    padding-left: 70px;
}

.form-select-tree {
    font-size: 15px;
    font-family: 'klavika';
    font-weight: 300;
}

.form-select-tree1 {
    font-size: 15px;
    font-family: 'klavika';
    font-weight: 300;
    margin-top: 50px;
}

.image-Asset {
    width: 100%;
    margin-top: 50px;
}

.page-tree {
    padding-left: 70px;
}

.card-body {
    background-color: #FAFAFA;

}

.card-img-top {
    width: 90px;

}

.cal-form {
    margin-left: 70px;
}


.card {
    border: none;
}


.image-Group-6 {
    width: 100%;
}


.image-boat-2 {
    width: 100%;
}

.form-services {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    margin-top: 90px;
}

.form-services-page {
    font-family: 'Klavika';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.form-page-text {
    font-family: 'Klavika';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    color: #0D0D0D;
}

.text-Goal {
    font-size: 16px;
    font-family: 'klavika';
    font-weight: 700;
}

.text-one {
    font-size: 12px;
    font-family: 'klavika';
    font-weight: 100;
}

.select-project {
    width: 350px;
    font-size: 14px;
    margin-top: 5px;
    line-height: 20px;
    font-weight: 100;
    padding-left: 70px;
    font-family: 'klavika';
}

.select-project-1 {
    width: 350px;
    font-size: 14px;
    margin-top: 5px;
    line-height: 20px;
    font-weight: 100;
    font-family: 'klavika';
}


.text-the-best {
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 70px;
    font-family: 'klavika';

}

.title-all {
    margin-top: -850px;
    color: white;

}

.text-form-most {
    font-size: 14px;
    font-weight: 100;
    width: 600px;
    font-family: 'klavika';
}

.page-1 {
    font-size: 19px;
    font-family: 'klavika';
    font-weight: 700;
    padding-left: 60px;

}

.page-2 {
    font-size: 19px;
    font-family: 'klavika';
    font-weight: 700;
    margin-left: -10px;

}

.form-card {
    background: #005BA0;
    border-radius: 4px;
    width: 520px;
    height: 50px;
    padding-top: 10px;
    font-weight: 100;
    font-size: 16px;
    margin-top: 50px;
    padding-left: 20px;
}

.download {
    margin-left: 380px;
    margin-top: -20px;
    width: 100px;
    height: 20px;
    color: #005BA0;
    font-weight: 500;
    font-family: 'klavika';
    font-size: 12px;
    border-radius: 5px;
    padding-top: -10px;
    padding-left: 10px;
}

.arrows-icon {
    font-size: 30px;
}

.fa-download {
    padding-left: 60px;
    padding-top: 5px;
    margin-top: -20px;
}

.pic-asset {
    margin-top: 200px;

}

.copy-pic-asset {
    margin-top: 200px;
}


.asset-4 {
    margin-top: -200px;
    margin-left: -120px;
    width: 38%;
    cursor: pointer;
}

.asset-5 {
    margin-top: -295px;
    margin-left: -100px;
    width: 40%;
    cursor: pointer;
}

.asset-6 {
    margin-top: -299px;
    margin-left: -56px;
    width: 33%;
    cursor: pointer;

}

.asset-7 {
    margin-top: -350px;
    margin-left: 276px;
    width: 32%;
    cursor: pointer;

}

.asset-8 {
    margin-top: -210px;
    margin-left: 300px;
    width: 31%;
    cursor: pointer;

}

.asset-9 {
    margin-top: -84px;
    margin-left: 265px;
    width: 34%;
    cursor: pointer;
}

.asset-10 {
    margin-top: -350px;
    margin-left: 125px;
    width: 45%;
}

.asset-11 {
    width: 30%;
    cursor: pointer;
}









@media(max-width: 1280px) {
    .title-all {
        margin-top: -700px;
    }

    .text-form-most {
        width: 340px;
        line-height: 10px;
        font-size: 10px;
        margin-top: 25px;
    }
}



@media(max-width: 992px) {
    .title-all {
        margin-top: -470px;
    }


    .text-form-most {
        width: 340px;
        line-height: 10px;
        font-size: 10px;
    }

    .select-project {
        font-size: 9px;
        line-height: 11px;
        padding-left: 40px;
    }

    .image-account {
        width: 30px;
    }

    .page-2 {
        margin-top: 0px;
    }


}


@media(max-width: 768px) {
    .title-all {
        margin-top: -250px;
    }


    .text-the-best {
        font-size: 15px;
        margin-top: -20px;
        padding-left: 10px;
    }

    .image-account {
        width: 20px;
    }

    .page-1 {
        font-size: 8px;
        padding-left: 10px;
    }

    .select-project {
        font-size: 5px;
        line-height: 6px;
        width: 190px;
        margin-left: -30px;

    }

    .form-card {
        font-size: 7px;
        padding-left: 5px;
        margin-left: 10px;
        width: 290px;
        height: 0px;
        margin-top: 30px;
        padding-bottom: 15px;

    }


    .form-select-two {
        padding-left: 40px;
    }

    .home-form {
        padding-left: 40px;
    }


    .download {
        margin-top: -15px;
        font-size: 10px;
        width: 90px;
        height: 15px;
        margin-left: 180px;

    }

    .page-2 {
        font-size: 8px;
    }

    .select-project-1 {
        font-size: 5px;
        line-height: 6px;
        width: 150px;
        margin-left: -10px;
    }

    .text-form-most {
        font-size: 6px;
        width: 200px;
        line-height: 7px;
        margin-top: 1px;
        margin-left: -10px;
    }

    .form-page-text {
        margin-left: 40px;
    }

    .form-select-tree {
        padding-left: 40px;
    }

    .page-tree {
        padding-left: 40px;
    }

    .form-select-one {
        padding-left: 40px;
    }

    .form-select-business {
        padding-left: 0px;
    }

    .backgroup-submit {
        margin-top: 50px;
    }

    .fa-download {
        font-size: 12px;
    }

    .cal-form {
        margin-left: 2px;
    }

    .form-oftcf {
        padding-left: 40px;
    }
}