.background-home {
    background-color: #EBEBEB;
}

.bl-Linkedin-Cover {
    width: 100%;
}

.image-account {
    width: 70px;
}

.home-form {
    font-size: 24px;
    font-family: 'klavika';
    font-weight: 700;
    color: #0F2137;
    line-height: 24px;
    padding-left: 10px;
    padding-left: 40px
}

.home-form-one {
    padding-top: 80px;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    font-family: 'klavika';
}

.home-two {
    font-family: 'klavika';
    font-size: 28px;
    font-weight: 700;
    line-height: 20px;
}

.btn-sm {
    /* position: absolute; */
    font-size: 11px;
    width: 110px;
    height: 30px;
    margin-left: 25px;
}

.form-two {
    font-size: 20px;
    font-family: 'klavika';
    font-weight: 500;
    line-height: 100px;
}

.form-tree {
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    font-family: 'klavika';
}

.img-tree {
    width: 100%;
}

.form-select-one {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    font-family: 'klavika';

}

.page-two {
    padding-left: 60px;
}

.form-select-two {
    font-size: 15px;
    font-family: 'klavika';
    font-weight: 300;
    margin-top: 50px;
}

.form-select-tree {
    font-size: 15px;
    font-family: 'klavika';
    font-weight: 300;
}

.page-tree {
    padding-left: 60px;
}

.image-Group-2 {
    width: 100%;
}

.card-body {
    background-color: #FAFAFA;

}

.card-img-top {
    width: 30%;

}

.card {
    border: none;
    width: 18rem;
}

.image-Group-6 {
    width: 100%;
}

.button-link-submit {
    margin-left: 130px;
    margin-top: 30px;
}

.backgroup-submit {
    background: #F0F3F8;
    padding-left: 60px;
}

.image-boat-2 {
    width: 100%;
}


.form-services {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    margin-top: 30px;
    /* color: #0F2137; */
}

.form-services-page {
    font-family: 'Klavika';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* color: #0F2137; */
}

.form-page-text {
    font-family: 'Klavika';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #0D0D0D;
}

.text-Goal {
    font-size: 16px;
    font-family: 'klavika';
    font-weight: 700;
}

.text-one {
    font-size: 12px;
    font-family: 'klavika';
    font-weight: 100;
}

.home-name-one {
    font-size: 24px;
    color: white;
    padding-left: 60px;
    font-family: 'Klavika';
    margin-top: -35%;
}

.icon {

    color: white;
}

.txt-icon {

    font-family: 'Klavika';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}

.text-icon-menu {
    font-family: 'Klavika';
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.menu-icon-home {
    margin-top: -300px;
    padding-left: 40px;

}

.download-button {
    padding-top: 10px;
    background: #005BA0;
    border-radius: 5px;
    width: 530px;
    height: 50px;
    color: white;
}

.txt-button-get {
    font-family: 'Klavika';
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    align-items: center;
    color: #313131;

}

.txt-you {
    font-family: 'Klavika';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 29px;
    align-items: center;
    color: #5E5E5E;
}

.txt-do-you {
    padding-left: 40px;
}

@media(max-width: 768px) {
    .bl-Linkedin-Cover {
        margin-top: 10px;
        width: 100%;
    }

    .background-home {
        padding-left: 10px;
    }

    .page-two {
        padding-left: 30px;
    }

    .page-tree {
        padding-left: 30px;
    }

    .select-box {
        padding-left: 80px;
    }

    .text-icon-menu {
        font-size: 8px;
        padding-top: -20px;
        line-height: 9px;
    }

    .image-account {
        width: 30px;
    }

    .home-name-one {
        margin-top: -300px;
        font-size: 16px;
    }

    .menu-icon-home {
        margin-top: 500px;
    }

    .txt-icon {
        font-size: 12px;
    }

    .download-button {
        width: 370px;
        height: 45px;
        font-size: 11px;
    }

    .btn-sm {
        margin-top: -4px;
        margin-left: 10px;
        font-size: 10px;
        width: 85px;
        height: 30px;
    }
}

/* @media(max-width: 992px) {
    .home-name-one {
        margin-top: -600px;
    }

    .menu-icon-home {
        margin-top: -550px;
        width: 150%;
    }

    .image-account {
        width: 40px;
    }

    .text-icon-menu {
        font-size: 10px;
    }
} */